In [77]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [78]:
%matplotlib notebook
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

Warning: Cannot change to a different GUI toolkit: notebook. Using qt instead.

In [79]:
import numpy as np
import pandas as pd

In [80]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [81]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [82]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [83]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [84]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [85]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [86]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [87]:
#  The schema and table can be viewed at https://sqliteonline.com/
#  Or by installing DB Browser for SQLite
dict(Measurement.__table__.columns)

{'id': Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False),
 'station': Column('station', TEXT(), table=<measurement>),
 'date': Column('date', TEXT(), table=<measurement>),
 'prcp': Column('prcp', FLOAT(), table=<measurement>),
 'tobs': Column('tobs', FLOAT(), table=<measurement>)}

In [88]:
dict(Station.__table__.columns)

{'id': Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False),
 'station': Column('station', TEXT(), table=<station>),
 'name': Column('name', TEXT(), table=<station>),
 'latitude': Column('latitude', FLOAT(), table=<station>),
 'longitude': Column('longitude', FLOAT(), table=<station>),
 'elevation': Column('elevation', FLOAT(), table=<station>)}

In [89]:
# Display the row's columns and data in dictionary format
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x27efc74db38>,
 'elevation': 3.0,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'latitude': 21.2716,
 'station': 'USC00519397'}

In [90]:
# Display the row's columns and data in dictionary format
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x27ef7098b70>,
 'date': '2010-01-01',
 'prcp': 0.08,
 'id': 1,
 'station': 'USC00519397',
 'tobs': 65.0}

# Exploratory Climate Analysis

In [91]:
from datetime import timedelta as td
lastyear = dt.date.today() - td(365)
#today = dt.date.today().strftime("%Y-%m-%d")

In [128]:
from sqlalchemy import and_
import matplotlib.dates as mdates
from matplotlib import style
style.use('fivethirtyeight')
# Design a query to retrieve the last 12 months of precipitation data and plot the results
#  prec_data = session.query(Measurement.date > last_year).limit(5).all()
last_entry = session.query(Measurement).order_by(Measurement.date.desc())

#  Print the date from the last 15 entries
# for i in last_entry.limit(15).all():
#     print(i.date)

last_entry_year = last_entry.first().__dict__['date']
prev_year = (dt.datetime.strptime(last_entry_year, "%Y-%m-%d") -td(365)).strftime("%Y-%m-%d")
print(type(prev_year), prev_year)
prec_data = session.query(Measurement.date, Measurement.prcp).filter(
    and_(Measurement.date >= prev_year, Measurement.prcp != None))
# prec_data = session.query(Measurement).all()
x_val, y_val = zip(*prec_data)

# x_val = []
# y_val = []
# for i, j in prec_data:
#     x_val.append(dt.datetime.strptime(i, "%Y-%m-%d"))
#     y_val.append(j)
# Give our graph axis labels
# plt.xlabel("Date")
# plt.ylabel("Precipitation")
# plt.bar(x_val, y_val)
# plt.show()

print(len(x_val), len(y_val), type(x_val))

df = pd.DataFrame({"Date" : x_val,
                   "Precipitation" : y_val})
df.set_index('Date', inplace=True)
#df.sort_values(by=['Date'])
df.sort_index(inplace=True)
df.plot(kind='bar', alpha=0.75, rot=30)
#df.to_csv("fileOne.csv", index=True, header=True)
# df1 = df.head(150)
# df1.plot(kind='bar', alpha=0.75, rot=30)
# plt.gca().xaxis_date()
# plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%Y/%m/%d'))
# plt.gcf().autofmt_xdate()
plt.tight_layout()
#  max(y_val)
# for p in prec_data:
#     print(p)
# a

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

# Rotate the xticks for the dates

<class 'str'> 2016-08-23
2021 2021 <class 'tuple'>

In [140]:
# How many stations are available in this dataset?
total_stations = session.query(Station).count()
st = session.query(Station)
print(f"Total stations = {total_stations}")
print("Station names:")
for s in st:
    print(f"\t{s.name}")

Total stations = 9
Station names:
	WAIKIKI 717.2, HI US
	KANEOHE 838.1, HI US
	KUALOA RANCH HEADQUARTERS 886.9, HI US
	PEARL CITY, HI US
	UPPER WAHIAWA 874.3, HI US
	WAIMANALO EXPERIMENTAL FARM, HI US
	WAIHEE 837.5, HI US
	HONOLULU OBSERVATORY 702.2, HI US
	MANOA LYON ARBO 785.2, HI US

In [199]:
from sqlalchemy import func

# What are the most active stations?
# List the stations and the counts in descending order.
st_join = session.query(
    Station.id, Station.station, Station.name, func.count(Measurement.prcp).label('Count')
).join(
    # tell SQLAlchemy to join the tables without foreign key
    Measurement,Station.station==Measurement.station
).group_by(
    Station.name
).order_by(
    #  Forward reference to label attached above
sqlalchemy.desc('Count')
)

print(st_join)
print()
for st_id, st, st_name, meas_cnt in st_join:
    print(f"counts {meas_cnt}, Station_id: {st_id} name: {st_name}")

SELECT station.id AS station_id, station.station AS station_station, station.name AS station_name, count(measurement.prcp) AS "Count"
FROM station JOIN measurement ON station.station = measurement.station GROUP BY station.name ORDER BY "Count" DESC

counts 2772, Station_id: 7 name: WAIHEE 837.5, HI US
counts 2696, Station_id: 2 name: KANEOHE 838.1, HI US
counts 2685, Station_id: 1 name: WAIKIKI 717.2, HI US
counts 2572, Station_id: 6 name: WAIMANALO EXPERIMENTAL FARM, HI US
counts 2484, Station_id: 9 name: MANOA LYON ARBO 785.2, HI US
counts 1937, Station_id: 3 name: KUALOA RANCH HEADQUARTERS 886.9, HI US
counts 1932, Station_id: 8 name: HONOLULU OBSERVATORY 702.2, HI US
counts 683, Station_id: 4 name: PEARL CITY, HI US
counts 342, Station_id: 5 name: UPPER WAHIAWA 874.3, HI US

In [222]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
act_st_id = st_join.first()
temp_q = session.query(
    func.min(Measurement.tobs),
    func.avg(Measurement.tobs),
    func.max(Measurement.tobs)).filter(Measurement.station == act_st_id.station)
print(f"Station {act_st_id.station} {act_st_id.name} recorded")
min_t, avg_t, max_t = temp_q.first()
print("\t Lowest temp of {}, avg temp of {:2.2} and max temp of {}".format(min_t, avg_t, max_t))

Station USC00519281 WAIHEE 837.5, HI US recorded
	 Lowest temp of 54.0, avg temp of 7.2e+01 and max temp of 85.0

In [21]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [223]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
print(calc_temps('2012-02-28', '2012-03-05'))

[(62.0, 69.57142857142857, 74.0)]

In [23]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [24]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [25]:
# Calculate the rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [26]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

[(62.0, 69.15384615384616, 77.0)]

In [27]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [28]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [29]:
# Plot the daily normals as an area plot with `stacked=False`